@import "normilize";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

$font-family: Calibri, Tahoma, Arial;
$color1: #c5d5cb;
$color2: #9fa8a3;
$color3: #e3e0cf;
$color4: #fff;
$color5: #22264b;
$color6: #b56969;
$color7: #b0aac2;
$color8: #ff2369;

body {
  background: $color1;
  width: 350px;
}

.left {
  float: left!important;
}

.tabs {
  & {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    background: $color2;
  }

  > .tab {
    font: 400 16px/1 $font-family;
    float: left;
    padding: 10px;
    cursor: pointer;
    color: $color4;
    border-right: 1px solid $color1;
    text-transform: uppercase;
  }
  > .tab.selected {
    background: $color3;
  }
}

.product-content {
  & {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  > .image {
    float: left;
    margin-right: 20px;
    background: #fff url("../img/loading.gif") 50% 50% no-repeat;
  }

  > .info {
    position: relative;
    overflow: hidden;
  }


  .form-item {
    padding: 3px 10px 3px 3px;
  }
  .form-item > input{
    padding: 3px;
  }
  .form-item > .title {
    width: 100%;
  }
  .form-item > .title,
  .form-item > .price,
  .form-item > .qty,
  .form-item > .size {
    font: bold 13px/1 $font-family;
    color: $color5;
  }
  .form-item > label {
    display: inline-block;
    min-width: 30px;
  }
  .form-item > .sub {
    width: 60px;
    text-align: center;
  }

  .category {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 10px 0 0;
    margin: 0 0 20px;
  }
  .category > select{
    width: 100%;
    height: 28px;
  }
}

.to-wishlist {
  display: block;
  width: 100%;
  background: $color7;
  color: $color4;
  font: bold 14px/36px $font-family;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.to-cart {
  display: block;
  width: 100%;
  background: $color6;
  color: $color4;
  font: bold 14px/36px $font-family;
  text-align: center;
  text-transform: uppercase;
  border: 0 none;
}

.cart-list {
  & {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  td {
    border-bottom: 1px solid $color7;
  }
  td, th {
    padding: 3px;
  }
}

.promo-papers {
  & {
    height: 200px;
    overflow-y: auto;
  }

  > .paper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    border: 1px solid $color2;
    background: $color3;
    margin: 0 0 10px;
  }
  > .paper > .title {
    display: block;
    font: bold 14px/1.4 $font-family;
    color: $color6;
  }
  > .paper > .state {
    display: inline-block;
    font: bold 14px/1.4 $font-family;
    background: $color6;
    color: $color4;
    text-transform: uppercase;
    padding: 5px 10px;
  }
}

.notice {
  & {
    width: 100%;
    background: $color6;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: $color4;
    font: bold 14px/1 $font-family;
  }
  &.success {
    background: $color2;
  }
}

.progress-bar {
  & {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 0 5px;
  }
  > .value {
    position: relative;
    background: $color8;
    width: 0;
    height: 4px;
    left: 0;
    -webkit-transition: width 500ms, left 500ms;
    transition: width 500ms, left 500ms;
  }
}